@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bold-violet: #3E065F;
  --medium-violet: #700B97;
  --light-violet: #8E05C2;

  --custom-black: #0b090a; 
  --custom-white: #f4f3ee;
}

body {
  @apply min-h-[100vh] min-w-[100vw]
}

html.light body{
  @apply bg-[--custom-white] text-gray-950;
}

html.dark body {
  @apply bg-[--custom-black] text-gray-50;
}

.themed-border {
  @apply border-[--bold-violet] dark:border-white;
}
