@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-violet: #10002b;
  --bold-violet: #3E065F;
  --medium-violet: #700B97;
  --light-violet: #8E05C2;

  --custom-black: #0b090a; 
  --custom-white: #f4f3ee;
}

* {
  font-family: "Rubik", sans-serif
}

body {
  @apply min-h-[100vh] min-w-[100vw]
}

html.light body{
  @apply bg-[--custom-white] text-gray-950;
}

html.dark body {
  @apply bg-[--dark-violet] text-gray-50;
}

.themed-border {
  @apply border-[--bold-violet] dark:border-[--custom-white];
}

.fixed-page {
  @apply w-full h-[calc(100vh-3.5rem)] overflow-y-auto
}

.themed-text {
  @apply text-[--bold-violet] dark:text-customViolet-300
}
